/JAMIE_CODE/SEPVultureSoftware/nbproject/private/
/JAMIE_CODE/SEPVultureSoftware/build/
/CHRIS_CODE/DataBaseUI/nbproject/private/
/FINAL_PRODUCT/SEPVultureSoftware/dist/
FINAL_PRODUCT/SEPVultureSoftware/nbproject/private/private.properties
FINAL_PRODUCT/SEPVultureSoftware/nbproject/private/private.xml
